<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2090201"
    android:versionName="2.9.2.1"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.benshikj.ht"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="35"/>
    <permission
        android:label="@string/app_name"
        android:name="com.benshikj.ht.permission.CONTROL_HT"
        android:protectionLevel="dangerous"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>
    <queries>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.tencent.mobileqq"/>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <permission
        android:name="com.benshikj.ht.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.benshikj.ht.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/apk_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.dw.ht.Main"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        android:localeConfig="@xml/_generated_res_locale_config">
        <activity
            android:theme="@style/AppTheme.Main"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:name="com.dw.ht.BTActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="layoutDirection|locale"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.google-earth.kml+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="benshikjcom"
                    android:host="ht"
                    android:pathPrefix="/iich"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:host="@string/ii_ch_share_host"/>
                <data android:pathPrefix="@string/ii_ch_share_path_prefix"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.Splash"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:name="com.dw.ht.activitys.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.dw.ht.UsbStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter"/>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/usb_device_filter"/>
        </receiver>
        <activity
            android:label="@string/firmware_update"
            android:icon="@drawable/ic_update_small"
            android:name="com.dw.ht.activitys.UpdateActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.android.app.FragmentShowActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/sendPicture"
            android:name="com.dw.ht.activitys.PictureSendActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.dw.ht.activitys.AuthCompleteActivity"/>
        <activity
            android:label="@string/offline_maps"
            android:name="com.dw.ht.offlinemap.OfflineMapActivity"/>
        <activity
            android:label="@string/send_message"
            android:name="com.dw.ht.activitys.MessageComposeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="aprs"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/login"
            android:name="com.dw.ht.user.LoginActivity"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent101439258"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.tencent.connect.common.AssistActivity"
            android:exported="false"
            android:screenOrientation="behind"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme.Main"
            android:name="com.dw.ht.satellite.SatelliteActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/AppTheme.NewDevice"
            android:name="com.dw.ht.activitys.NewDeviceActivity"
            android:launchMode="singleInstance"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <receiver
            android:name="com.dw.ht.receiver.BTStateMonitor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.dw.ht.provider.DataProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="com.benshikj.ht.provider.Data"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.benshikj.ht.files"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <service
            android:name="com.dw.ht.alarms.AlarmService"
            android:exported="false"
            android:foregroundServiceType="shortService"/>
        <receiver
            android:name="com.dw.ht.utils.NotificationManager.Receiver"
            android:exported="false"/>
        <activity
            android:theme="@style/AppTheme.Incoming"
            android:label="@string/title_activity_incoming"
            android:name="com.dw.ht.activitys.IncomingActivity"
            android:launchMode="singleInstance"/>
        <receiver
            android:name="com.dw.ht.utils.CallbackReceiver"
            android:enabled="true"
            android:exported="true"/>
        <activity android:name="com.dw.ht.activitys.ContactDetailsActivity"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            android:name="com.benshikj.ht.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:label="@string/message"
            android:name="com.dw.ht.activitys.MessageListActivity"
            android:exported="false"
            android:launchMode="singleTask"/>
        <service
            android:name="com.dw.ht.ii.IIService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone"/>
        <service
            android:name="com.dw.ht.RadioService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone"/>
        <service
            android:name="com.dw.ht.map.OfflineMapDownloadService"
            android:exported="false"/>
        <service
            android:name="com.dw.ht.IGateService"
            android:exported="false"
            android:foregroundServiceType="location"/>
        <service
            android:name="com.dw.ht.LocationShareService"
            android:exported="false"
            android:foregroundServiceType="location"/>
        <receiver
            android:name="com.dw.ht.LocationShareService.Receiver"
            android:exported="false"/>
        <receiver
            android:name="com.dw.ht.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.dw.ht.TrackRecordingService"
            android:exported="false"
            android:foregroundServiceType="location"/>
        <service
            android:name="com.dw.ht.HTService"
            android:permission="com.benshikj.ht.permission.CONTROL_HT"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.benshikj.ht.HT_SERVICE"/>
            </intent-filter>
        </service>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>
        <activity
            android:theme="@style/ExFilePickerThemeLight"
            android:name="ru.bartwell.exfilepicker.ui.activity.ExFilePickerActivity"/>
        <activity
            android:label="@string/text_editor"
            android:name="om.sstvencoder.EditTextActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <provider
            android:name="com.lzf.easyfloat.EasyFloatInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="com.benshikj.ht.EasyFloatInitializer"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <activity
            android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar"
            android:name="net.openid.appauth.AuthorizationManagementActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.benshikj.ht"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.benshikj.ht.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="okhttp3.internal.platform.PlatformInitializer"
                android:value="androidx.startup"/>
        </provider>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="2"/>
    </application>
</manifest>
